.statistic {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.statistic-container {
  width: 300px;
  margin-right: 0;
  margin-left: auto;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 26px;
  background-color: rgba(242, 224, 121);
  border-radius: 10%;
}
