body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(270deg, #d5882e, #f7dc47);
  background-size: 400% 400%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: Georgia;
  font-size: 55px;
  margin-right: 450px;
  margin-left: 450px;
  color: rgb(80, 20, 75);
  background-color: #f7dc47;
}

h2 {
  font-family: Georgia;
  color: rgb(80, 20, 75);
  font-size: 20px;
}

main {
  font-family: Georgia;
}

button {
  font-family: Georgia;
}
.html {
  text-decoration: none;
}

a:-webkit-any-link {
  color: #f7dc47;
}
